<nav class="navbar">
    {{#if this.checkPage}}
        <LinkTo @route="index" class="nav-button">Home</LinkTo>
        <LinkTo @route="login" class="nav-button">Login</LinkTo>
        <LinkTo @route="register" class="nav-button">Register</LinkTo>
    {{else}}
        <LinkTo @route="index" class="nav-button">Home</LinkTo>
        <LinkTo @route="user-teams" class="nav-button">My Teams</LinkTo>
        <LinkTo @route="profile" class="nav-button">Profile</LinkTo>
    {{/if}}
</nav>
