<nav class="navbar">
    <LinkTo @route="index" class="nav-button">Home</LinkTo>
    <LinkTo @route="login" class="nav-button">Login</LinkTo>
    <LinkTo @route="register" class="nav-button">Register</LinkTo>
</nav>