<nav class="navbar">
    <LinkTo @route="index" class="button">Home</LinkTo>
    <LinkTo @route="login" class="button">Login</LinkTo>
    <LinkTo @route="register" class="button">Register</LinkTo>
</nav>