<div class="page-background">
    <NavBar />
    <div class="page-title">
        <PageTitle @title="" />
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>
<div class="footer"></div>