<div class="page-title">
    <PageTitle @title="Connection Refused" />
</div>

<div class="image-center-container">
    <img src="/images/DynProg.jpg" alt="DynProg" style="border-radius: 30px;">
</div>

<h2 class="error-page-msg">Oops! Our API is not responsive. Ask Dean to turn on the server!!</h2>