<div class="page-title">
    <PageTitle @title="Register" />
</div>

<div class="login-box">
    <Input @value={{this.credentials.email}} placeholder="Email" />
    <Input @value={{this.credentials.password}} placeholder="Password" @type="password" />
    <Input @value={{this.credentials.confirmPassword}} placeholder="Confirm Password" @type="password" />
    <input type="submit" value="Register" id="login-button" {{action "loginClick"}}>
    <p class="message">Already a user? <LinkTo @route="login" class="sub-text-link">Login</LinkTo></p>
</div>